Repository Kohan-Citadel/kohangold-KG-, pull requests merged in 2023-09, with the labels that each got.

#20 Lyssa edan rework
  TGX Files/Data/ObjectData/Heroes/LYSSA_FREELAND.INI
Labels: Hero Change

#21 Roxanna javidan rework
  TGX Files/Data/ObjectData/Heroes/JASMIN_SHAHIN.INI
Labels: Hero Change

#22 Thora maesun rework
  TGX Files/Data/ObjectData/Heroes/THORA_MAESUN.INI
Labels: Hero Change

#23 Jordan avishai rework
  TGX Files/Data/ObjectData/Heroes/JORDAN_AVISHAI.INI
Labels: Hero Change

#24 The Hunter adjustments
  TGX Files/Data/ModInfo.ini
  TGX Files/Data/ObjectData/Heroes/THE_HUNTER.INI
Labels: Hero Change

#29 Fixing bonus orders
  TGX Files/Data/ObjectData/Heroes/DOGUN_MOSSK.INI
  TGX Files/Data/ObjectData/Heroes/ETHAN_DELROBA.INI
  TGX Files/Data/ObjectData/Heroes/GHALEN_MORDECAI.INI
  TGX Files/Data/ObjectData/Heroes/GIDEON_XARR.INI
  TGX Files/Data/ObjectData/Heroes/ISHAN'GHUL.INI
  TGX Files/Data/ObjectData/Heroes/JASMIN_SHAHIN.INI
  TGX Files/Data/ObjectData/Heroes/JORDAN_AVISHAI.INI
  TGX Files/Data/ObjectData/Heroes/KENDRA_LANGSTON.INI
  TGX Files/Data/ObjectData/Heroes/LAILA_ASWAN.INI
  TGX Files/Data/ObjectData/Heroes/LYSSA_FREELAND.INI
  TGX Files/Data/ObjectData/Heroes/MAGHNUS.INI
  TGX Files/Data/ObjectData/Heroes/MARTYN_KYRKWOOD.INI
  TGX Files/Data/ObjectData/Heroes/SYRAD_AMON.INI
  TGX Files/Data/ObjectData/Heroes/THE_HUNTER.INI
  TGX Files/Data/ObjectData/Heroes/THORA_MAESUN.INI
Labels: Hero Change

#25 Garadun Attack Speed Fix
  TGX Files/Data/ObjectData/Heroes/GARADUN_PAYNE.INI
Labels: Hero Change

#26 Solomon ghaffar rework
  TGX Files/Data/ObjectData/Heroes/SOLOMON_GHAFFAR.ini
Labels: Hero Change

#27 Kyran delroba rework
  TGX Files/Data/ObjectData/Heroes/KYRAN_DELROBA.INI
Labels: Hero Change

#28 Xerxes mehrdad rework
  TGX Files/Data/ObjectData/Heroes/XERXES_MEHRDAD.INI
Labels: Hero Change

#30 Mausallas bahram rework
  TGX Files/Data/ObjectData/Heroes/MAUSALLAS_BAHRAM.ini
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#31 Hssrak rework
  TGX Files/Data/ObjectData/Heroes/HSS'RAK.INI
Labels: Hero Change

#33 Melchior Rework
  TGX Files/Data/ObjectData/Heroes/MELCHIOR.INI
Labels: Hero Change

#34 Caleb Eshkol Rework
  TGX Files/Data/ObjectData/Heroes/CALEB_ESHKOL.INI
Labels: Hero Change

#35 Divsha Rework
  TGX Files/Data/ObjectData/Heroes/DIVSHA.INI
Labels: Hero Change

#36 Moggok rework
  TGX Files/Data/ObjectData/Heroes/MOGGOK.INI
Labels: Hero Change

#37 Lucius ajam rework & Valor+SpiritOfBattle fix
  TGX Files/Data/ObjectData/Heroes/LUCIUS_AJAM.ini
  TGX Files/Data/Spells.ini
Labels: Hero Change, Spell Change

#38 Leila Javidan rework
  TGX Files/Data/ObjectData/Heroes/RAVYN_DUNN.INI
Labels: Hero Change

#39 Gavin Bahhrum Rework
  TGX Files/Data/ObjectData/Heroes/GAVIN_BAHHRUM.INI
Labels: Hero Change

#40 Aethan farhyd rework
  TGX Files/Data/ObjectData/Heroes/AETHAN_FARHYD.ini
Labels: Hero Change

#41 Thaddius Maesun Rework
  TGX Files/Data/ObjectData/Heroes/SYRIUS_MAESUN.INI
Labels: Hero Change

#44 Spell changes:
  TGX Files/Data/ModInfo.ini
  TGX Files/Data/ObjectData/units/ACOLYTE.INI
  TGX Files/Data/Spells.ini
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change

#54 Updated Campaign Maps
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM1.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM13.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM2.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM4.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM6.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM7.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM8.TGM
Labels: Campaign changes

#55 Misc Hero Fixes
  TGX Files/Data/ObjectData/Heroes/MAUSALLAS_BAHRAM.ini
  TGX Files/Data/ObjectData/Heroes/MOGGOK.INI
Labels: Hero Change

#56 Thain Farouk Rework
  TGX Files/Data/ObjectData/Heroes/THAIN_FOWLER.INI
Labels: Hero Change

#57 Darius Javidan rework
  TGX Files/Data/ObjectData/Heroes/DARIUS_JAVIDAN.INI
  TGX Files/Data/ObjectData/Heroes/LORD_JAVIDAN.INI
Labels: Hero Change

#58 Selvana rework
  TGX Files/Data/ObjectData/Heroes/SELVANA.INI
Labels: Hero Change

#59 Amon Koth Rework
  TGX Files/Data/ObjectData/Heroes/AMON_KOTH.INI
  TGX Files/Data/ObjectData/Heroes/MP_AMON_KOTH2.ini
Labels: Hero Change

#60 Shamael Rework
  TGX Files/Data/ObjectData/Heroes/SHAMAEL.INI
  TGX Files/Data/Spells.ini
Labels: Hero Change, Spell Change

#61 Qasim Majere rework
  TGX Files/Data/ObjectData/Heroes/QASIM_MAJERE.INI
Labels: Hero Change

#62 Vargus rework
  TGX Files/Data/ObjectData/Heroes/VARGUS.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#63 Seth Aswan Rework
  TGX Files/Data/ObjectData/Heroes/SETH_ASWAN.INI
Labels: Hero Change

#64 Eben rework
  TGX Files/Data/ObjectData/Heroes/EBEN_BARUCH.INI
Labels: Hero Change

#65 Adellon Majere Rework
  TGX Files/Data/ObjectData/Heroes/ADELLON_MAJERE.INI
Labels: Hero Change

#66 Sofiya Fairfax Rework
  TGX Files/Data/ObjectData/Heroes/SOFIYA_FAIRFAX.INI
Labels: Hero Change

#67 Ahikar Iraj Rework
  TGX Files/Data/ObjectData/Heroes/AHIKAR_IRAJ.ini
Labels: Hero Change

#68 Ruarc rework
  TGX Files/Data/ObjectData/Heroes/RUARC_VARAGOTH.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#69 Samman Osahyr Rework
  TGX Files/Data/ObjectData/Heroes/SAMMAN OSAHYR.INI
Labels: Hero Change

#70 Arya rework
  TGX Files/Data/ObjectData/Heroes/CYRA_BLOODSTONE.INI
Labels: Hero Change

#71 Ashavir Rework
  TGX Files/Data/ObjectData/Heroes/ASHAVIR.INI
Labels: Hero Change

#74 Balthazar rework
  TGX Files/Data/ObjectData/Heroes/BALTHASAR_ASWAN.INI
Labels: Hero Change

#75 Fixed Brittle Formatting
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change

#76 Lair Monsters Adjustment
  TGX Files/Data/ObjectData/units/FIRE_DRAGON.INI
  TGX Files/Data/ObjectData/units/GIANT_SPIDER.INI
  TGX Files/Data/ObjectData/units/ICE_DRAKE.INI
  TGX Files/Data/ObjectData/units/SHADOW_DEVIL.INI
  TGX Files/Data/ObjectData/units/SHADOW_LORD.INI
  TGX Files/Data/ObjectData/units/STORM_DRAKE.INI
  TGX Files/Data/ObjectData/units/YOUNG_DRAGON.INI
  TGX Files/Data/Spells.ini
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change
