Repository Kohan-Citadel/kohangold-KG-, pull requests merged in 2023-11, with the labels that each got.

#245 Name & Descriptions Fixes
  TGX Files/Data/ObjectData/Heroes/JENSINE_ILJARA.INI
  TGX Files/Data/ObjectData/units/SORCERESS.INI
  TGX Files/Data/Spells.ini
  TGX Files/Data/Spells_KE.ini
  TGX Files/Data/Technology.ini
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM11.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM12.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM6.TGM
  TGX Files/MAPS/THE QUEST FOR DARIUS/EC2M1.TGM
Labels: Campaign changes

#243 Custom FX for Reverse Damage
  TGX Files/Art/EFFECTS/REVERSE_DAMAGE.TGR
  TGX Files/Data/EFFECTDATA/SPRITES/REVERSE_DAMAGE_LOOP.INI
  TGX Files/Data/ObjectData/Heroes/GIDEON_XARR.INI
  TGX Files/Data/ObjectData/Heroes/LAZARUS.INI
  TGX Files/Data/ObjectData/Heroes/VASHTI.INI
Labels: Hero Change

#259 Acolyte Adjustments
  TGX Files/Data/ModInfo.ini
  TGX Files/Data/ObjectData/units/ACOLYTE.INI
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change, Unit Change

#260 Technology Adjustments
  TGX Files/Data/Technology.ini
  TGX Files/Data/Technology_KE.ini
Labels: Technology Change

#264 Mercenary & Rhaksha Slave adjusted
  TGX Files/Data/ObjectData/units/MERCENARY.INI
  TGX Files/Data/ObjectData/units/RHAKSHA_SLAVE.INI
  TGX Files/Data/Technology_KE.ini
Labels: Technology Change, Unit Change

#241 Tech Unit Adjustments
  TGX Files/Data/ObjectData/units/ARCHMAGE.INI
  TGX Files/Data/ObjectData/units/AVATAR.INI
  TGX Files/Data/ObjectData/units/CONJUROR.INI
  TGX Files/Data/ObjectData/units/DARK_WOLF.INI
  TGX Files/Data/ObjectData/units/DEFILER.INI
  TGX Files/Data/ObjectData/units/DEVOUT.INI
  TGX Files/Data/ObjectData/units/GOLEM.INI
  TGX Files/Data/ObjectData/units/KHALDUNITE_GOLEM.INI
  TGX Files/Data/ObjectData/units/LICH.INI
  TGX Files/Data/ObjectData/units/PIKEMAN.INI
  TGX Files/Data/ObjectData/units/SHADOW_PROPHET.INI
  TGX Files/Data/ObjectData/units/SLAANRI_SLAVER.INI
  TGX Files/Data/ObjectData/units/SORCERER.INI
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change, Unit Change

#251 0.9.6 hero adjustments
  TGX Files/Data/ObjectData/Heroes/CYRA_BLOODSTONE.INI
  TGX Files/Data/ObjectData/Heroes/DARIUS_JAVIDAN.INI
  TGX Files/Data/ObjectData/Heroes/DHAVRUM_BELRAAG.INI
  TGX Files/Data/ObjectData/Heroes/ETHAN_DELROBA.INI
  TGX Files/Data/ObjectData/Heroes/HASANKO.INI
  TGX Files/Data/ObjectData/Heroes/QASIM_MAJERE.INI
  TGX Files/Data/ObjectData/Heroes/SAR_LASHKAR.INI
Labels: Hero Change

#265 Ethan portrait updated
  TGX Files/Art/INTERFACE/PORTRAITS/HEROES/ETHAN_DELROBA_PORTRAIT.tgr
Labels: Hero Change
