Repository Kohan-Citadel/kohangold-KG-, pull requests merged in 2023-10, with the labels that each got.

#81 Jhaengus rework
  .gitignore
  TGX Files/Data/ObjectData/Heroes/JHAENGUS.ini
Labels: Hero Change

#82 Hasanko rework
  TGX Files/Data/ObjectData/Heroes/HASANKO.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#84 Vashti rework
  TGX Files/Data/ObjectData/Heroes/VASHTI.INI
Labels: Hero Change

#85 Amber rework
  TGX Files/Data/ObjectData/Heroes/JENSINE_ILJARA.INI
  TGX Files/Data/Spells.ini
Labels: Hero Change, Spell Change

#86 Dylan rework
  TGX Files/Data/ObjectData/Heroes/DYLAN_GARWOOD.INI
Labels: Hero Change

#87 Jamsheed rework
  TGX Files/Data/ObjectData/Heroes/JAMSHEED_AVISHAI.INI
Labels: Hero Change

#88 Sar Lashkar rework
  TGX Files/Data/ObjectData/Heroes/SAR_LASHKAR.INI
  TGX Files/Data/ObjectData/Heroes/SAR_LASHKAR2.INI
Labels: Hero Change

#89 Conflag changes
  TGX Files/Data/Spells.ini
Labels: Spell Change

#90 Vargus cast speed
  TGX Files/Data/ObjectData/Heroes/VARGUS.INI
Labels: Hero Change

#91 Dali Azade Rework
  TGX Files/Data/ObjectData/Heroes/DALI_AZADE.ini
Labels: Hero Change

#93 Militia group change
  TGX Files/Data/ObjectData/units/ARCHER_MILITIA.INI
  TGX Files/Data/ObjectData/units/CITY_MILITIA.INI
  TGX Files/Data/ObjectData/units/DRAUGA_MILITIA.INI
  TGX Files/Data/ObjectData/units/GAURI_MILITIA.INI
  TGX Files/Data/ObjectData/units/HAROUN_MILITIA.INI
  TGX Files/Data/ObjectData/units/SHADOW_MILITIA.INI
  TGX Files/Data/ObjectData/units/SLAANRI_MILITIA.INI
  TGX Files/Data/ObjectData/units/SLAAN_MILITIA.INI
  TGX Files/Data/ObjectData/units/VILLAGE_MILITIA.INI
Labels: Technology Change

#94 Settlement Technology changes
  TGX Files/Data/Technology.ini
  TGX Files/Data/Technology_KE.ini
Labels: Technology Change

#95 RECOVERY_RATE renamed to RESUPPLY_RATE
  TGX Files/Data/ObjectData/Heroes/JAMSHEED_AVISHAI.INI
Labels: Hero Change

#145 Naava Daishan Rework
  TGX Files/Data/ObjectData/Heroes/NAAVA_DAISHAN.INI
Labels: Hero Change

#146 Praxus Rework
  TGX Files/Data/ObjectData/Heroes/PRAXUS.INI
Labels: Hero Change

#147 Ravid Sakeri Rework
  TGX Files/Data/ObjectData/Heroes/RAVID_SAKERI.INI
Labels: Hero Change

#148 Sadira Bahhrum Rework
  TGX Files/Data/ObjectData/Heroes/SADIRA_BAHHRUM.INI
Labels: Hero Change

#151 Sebastian-Atafeh-Rework
  TGX Files/Data/ObjectData/Heroes/SEBASTIAN_ATAFEH.ini
Labels: Hero Change

#156 Adjustments to previously reworked Royalist heroes
  TGX Files/Data/EFFECTDATA/Emitters/BLUE_SPARKLEFX.INI
  TGX Files/Data/EFFECTDATA/Emitters/BLUE_SPARKLE_TRAILER.INI
  TGX Files/Data/ObjectData/Heroes/GARADUN_PAYNE.INI
  TGX Files/Data/ObjectData/Heroes/JORDAN_AVISHAI.INI
  TGX Files/Data/ObjectData/Heroes/MAUSALLAS_BAHRAM.ini
  TGX Files/Data/ObjectData/Projectiles/MAGIC_MISSILE.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#157 Adjustments to previously reworked Nationalist heroes
  TGX Files/Data/ObjectData/Heroes/BALTHASAR_ASWAN.INI
  TGX Files/Data/ObjectData/Heroes/LAILA_ASWAN.INI
  TGX Files/Data/ObjectData/Heroes/MOGGOK.INI
Labels: Hero Change

#139 Cyrus rework
  TGX Files/Data/EffectData/Emitters/GOLEM_SMOKE_FX.INI
  TGX Files/Data/ObjectData/Heroes/CYRUS_FAKHIR.INI
  TGX Files/Data/ObjectData/units/MAGMA_ELEMENTAL.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#140 Zerin Darkmire
  TGX Files/Art/EFFECTS/ILL_OMEN_LOOP.TGR
  TGX Files/Art/EFFECTS/ILL_OMEN_LOOP3.TGR
  TGX Files/Art/EFFECTS/ILL_OMEN_LOOP_PENTAGRAM.TGR
  TGX Files/Data/BONUS.INI
  TGX Files/Data/EffectData/Emitters/ILL_OMEN_CLOUD.INI
  TGX Files/Data/EffectData/Emitters/SPECTRAL_WOLF_TRAIL.INI
  TGX Files/Data/EffectData/OBJECTFADE/SOUL_REND_FADE.INI
  TGX Files/Data/EffectData/SPRITES/ILL_OMEN_LOOP.INI
  TGX Files/Data/EffectData/SPRITES/ILL_OMEN_LOOP_PENTAGRAM.INI
  TGX Files/Data/ObjectData/Heroes/LORD_JAVIDAN.INI
  TGX Files/Data/ObjectData/units/CREATURE.INI
  TGX Files/Data/ObjectData/units/SPECTRAL_WOLF.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#197 Campaign: The Enemy Within Fixes
  TGX Files/MAPS/THE ENEMY WITHIN/EC3M4.TGM
Labels: Campaign changes

#212 Holy Armor adjustment
  TGX Files/Data/Technology.ini
Labels: Technology Change
