Repository Kohan-Citadel/kohangold-KG-, pull requests merged in 2024-03, with the labels that each got.

#277 Banish Shadow & Holy Damage Rework
  TGX Files/Art/EFFECTS/BANISH_SHADOW_LOOP.TGR
  TGX Files/Art/EFFECTS/BANISH_SHADOW_TARGET.TGR
  TGX Files/Data/EFFECTDATA/SPRITES/BANISH_SHADOW_LOOP.INI
  TGX Files/Data/EFFECTDATA/SPRITES/BANISH_SHADOW_TARGET.INI
  TGX Files/Data/ObjectData/Heroes/RUARC_VARAGOTH.INI
  TGX Files/Data/ObjectData/units/ACOLYTE.INI
  TGX Files/Data/ObjectData/units/BATTLE_PRIEST.INI
  TGX Files/Data/ObjectData/units/REAVER.INI
  TGX Files/Data/ObjectData/units/SKELETON.INI
  TGX Files/Data/ObjectData/units/UNDEAD.INI
  TGX Files/Data/ObjectData/units/UNDEAD_ARCHER.INI
  TGX Files/Data/ObjectData/units/UNDEAD_MILITIA.INI
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change, Unit Change

#286 Sebak Entrenching Fix
  TGX Files/Data/ObjectData/Heroes/SEBAK.INI
Labels: Hero Change

#288 Ashavir description edit
  TGX Files/Data/ObjectData/Heroes/ASHAVIR.INI
Labels: Hero Change

#290 Hero: Thora Maesun Balance tweaks
  TGX Files/Data/ObjectData/Heroes/THORA_MAESUN.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#291 Engineer Group Changes
  TGX Files/Data/ObjectData/units/COMBAT_ENGINEER.INI
  TGX Files/Data/ObjectData/units/ENGINEER.INI
Labels: Unit Change

#292 Hero: Thaddeus Maesun Spell Change
  TGX Files/Data/ObjectData/Heroes/SYRIUS_MAESUN.INI
Labels: Hero Change

#332 Technologies update
  TGX Files/Data/Technology.ini
Labels: Technology Change

#333 Settlement Surrender Modifier
  TGX Files/Data/ObjectData/Components.ini
  TGX Files/Data/ObjectData/buildings/CEYAH_CITADEL.INI
  TGX Files/Data/ObjectData/buildings/CEYAH_CITY.INI
  TGX Files/Data/ObjectData/buildings/CEYAH_TOWN.INI
  TGX Files/Data/ObjectData/buildings/CEYAH_VILLAGE.INI
  TGX Files/Data/ObjectData/buildings/COUNCIL_CITADEL.INI
  TGX Files/Data/ObjectData/buildings/COUNCIL_CITY.INI
  TGX Files/Data/ObjectData/buildings/COUNCIL_TOWN.INI
  TGX Files/Data/ObjectData/buildings/COUNCIL_VILLAGE.INI
  TGX Files/Data/ObjectData/buildings/DRAUGA_VILLAGE.INI
  TGX Files/Data/ObjectData/buildings/GAURI_VILLAGE.INI
  TGX Files/Data/ObjectData/buildings/HAROUN_VILLAGE.INI
  TGX Files/Data/ObjectData/buildings/ROYALIST_CITADEL.INI
  TGX Files/Data/ObjectData/buildings/ROYALIST_CITY.INI
  TGX Files/Data/ObjectData/buildings/ROYALIST_TOWN.INI
  TGX Files/Data/ObjectData/buildings/ROYALIST_VILLAGE.INI
  TGX Files/Data/ObjectData/buildings/SLAANRI_DWELLING.INI
  TGX Files/Data/ObjectData/buildings/SLAAN_VILLAGE.INI
Labels: Faction Change

#334 Rallying Call
  TGX Files/AUDIO/SPELLS/rallying_call.wav
  TGX Files/Data/ObjectData/Heroes/KYRAN_DELROBA.INI
  TGX Files/Data/ObjectData/Heroes/LORD_JAVIDAN.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#335 New Sounds
  TGX Files/AUDIO/GAME/dark_wolf_attack.wav
  TGX Files/AUDIO/GAME/dark_wolf_attack2.wav
  TGX Files/AUDIO/GAME/ranger_melchior.wav
  TGX Files/AUDIO/GAME/select_abyss.wav
  TGX Files/AUDIO/SPELLS/SUMMON_WOLF.wav
  TGX Files/AUDIO/SPELLS/graywaste.wav
  TGX Files/AUDIO/SPELLS/grit.wav
  TGX Files/AUDIO/SPELLS/ill_omen.wav
  TGX Files/AUDIO/SPELLS/psalm_of_fury.wav
  TGX Files/AUDIO/SPELLS/soul_rend.wav
  TGX Files/AUDIO/SPELLS/truegrit.wav
  TGX Files/Data/ObjectData/Heroes/MELCHIOR.INI
  TGX Files/Data/ObjectData/buildings/NEW_AHRIMAN_CITADEL.INI
  TGX Files/Data/ObjectData/units/DARK_WOLF.INI
  TGX Files/Data/ObjectData/units/SPECTRAL_WOLF.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#336 Unholy Damage for Ceyah
  TGX Files/Data/ObjectData/units/DREADLORD.INI
  TGX Files/Data/ObjectData/units/MACABRE.INI
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change, Unit Change
