Repository Kohan-Citadel/kohangold-KG-, pull requests merged in 2024-10, with the labels that each got.

#409 0.9.7 Hero Tweaks
  TGX Files/Data/ObjectData/Heroes/ASHAVIR.INI
  TGX Files/Data/ObjectData/Heroes/CALEB_ESHKOL.INI
  TGX Files/Data/ObjectData/Heroes/CYRA_BLOODSTONE.INI
  TGX Files/Data/ObjectData/Heroes/DIVSHA.INI
  TGX Files/Data/ObjectData/Heroes/HASANKO.INI
  TGX Files/Data/ObjectData/Heroes/HSS'RAK.INI
  TGX Files/Data/ObjectData/Heroes/ISHAN'GHUL.INI
  TGX Files/Data/ObjectData/Heroes/JAMSHEED_AVISHAI.INI
  TGX Files/Data/ObjectData/Heroes/MELCHIOR.INI
  TGX Files/Data/ObjectData/Heroes/QASIM_MAJERE.INI
  TGX Files/Data/ObjectData/Heroes/RUARC_VARAGOTH.INI
  TGX Files/Data/ObjectData/Heroes/SADIRA_BAHHRUM.INI
  TGX Files/Data/ObjectData/Heroes/SEBAK.INI
  TGX Files/Data/ObjectData/Heroes/SHAMAEL.INI
  TGX Files/Data/ObjectData/Heroes/SOFIYA_FAIRFAX.INI
  TGX Files/Data/ObjectData/Heroes/SYRAD_AMON.INI
  TGX Files/Data/Spells_KE.ini
Labels: Hero Change, Spell Change

#412 Litany of Banishment Damage Increase
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change

#417 Dreadlord update
  TGX Files/Data/ObjectData/units/DREADLORD.INI
Labels: Unit Change

#418 Pioneer update
  TGX Files/Data/ObjectData/units/PIONEER.INI
Labels: Unit Change

#419 Spectral veil fx
  TGX Files/Data/EFFECTDATA/Emitters/SPECTRAL_FORM_TRAIL.INI
  TGX Files/Data/Spells_KE.ini
Labels: Spell Change

#420 Maus update
  TGX Files/Data/EFFECTDATA/SPRITES/STORM_SHIELD_PASSIVE.INI
  TGX Files/Data/ObjectData/Heroes/MISTRESS_ROXANNA.INI
Labels: Hero Change

#421 Campaign fixes
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM12.TGM
  TGX Files/MAPS/EXPANSION CAMPAIGN/ECM2.TGM
  TGX Files/MAPS/THE QUEST FOR DARIUS/EC2M5.TGM
Labels: Campaign changes
